@import "theme.css";
@import "fonts.css";
@import "reset.css";
@import "navbar.css";
@import "footer.css";

html {
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1303px;
  margin: 0 auto;
  padding: 0 16px;
}
