* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: var(--white-normal)
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}
