.contact-wrapper {

}

.contact {
  display: flex;
  flex-direction: column;
}

.contact__heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 48px;
  color: var(--white-normal);
  max-width: 660px;
  align-self: center;
}

.contact-form {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
  max-width: 855px;
  width: 100%;
  align-self: center;
  padding: 32px 36px 32px 32px;
  display: grid;
  grid-template-columns: 1fr 345px;
  grid-column-gap: 20px;
}

.contact-form-left {
  display: grid;
  grid-row-gap: 16px;
}

.contact-form-left__input {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 12px 14px;
  font-size: 17px;
  line-height: 21px;
  color: var(--white-normal);
  width: 100%;
}

.contact-form-left__textarea {
  padding: 12px 14px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  font-size: 17px;
  line-height: 21px;
  color: var(--white-normal);
  width: 100%;
  resize: none;
  height: 136px;
}

.contact-form-left-checkbox {

}

.contact-form-left__submit-btn {
  background: #0FAE96;
  border-radius: 4px;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: var(--white-normal);
  width: 100%;
  padding: 14px;
}

.contact-form-right {

}
