.products-wrapper {
  margin-bottom: 160px;
}

.products {
  display: flex;
  flex-direction: column;
}

.products__heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: var(--white-normal);
  margin-bottom: 32px;
}

.products__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 64px;
  max-width: 689px;
  align-self: center;
}

.products-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
}

.products-features-item {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 18px;
  padding: 42px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-features-item__img {
  margin-bottom: 16px;
}

.products-features-item__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--white-normal);
}
