.tools-wrapper {
  margin-bottom: 160px;
}

.tools {
  display: flex;
  flex-direction: column;
}

.tools__heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: var(--white-normal);
  margin-bottom: 32px;
}

.tools__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--gray);
  max-width: 762px;
  align-self: center;
  margin-bottom: 64px;
}

.tools-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 64px;
}

.tools-list-item {

}

.tools-list-item__img {

}
